<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
  <div>
    <p-floatlabel variant="in">
      <input pInputText inputId="fullName" formControlName="fullName" maxlength="200" class="w-full" [class.ng-invalid]="hasError('fullName')" [class.ng-dirty]="hasError('fullName')" (blur)="f['fullName'].markAsTouched()" />
      <label for="fullName">Full Name *</label>
    </p-floatlabel>
    <div *ngIf="hasError('fullName')" class="invalid">{{ getErrorMessage('fullName') }}</div>
  </div>

  <div>
    <p-floatlabel variant="in">
      <p-datepicker inputId="dateOfBirth" formControlName="dateOfBirth" dateFormat="dd-M-yy" [showIcon]="true" styleClass="w-full"></p-datepicker>
      <label for="dateOfBirth">Date of Birth</label>
    </p-floatlabel>
  </div>

  <div>
    <p-floatlabel variant="in">
      <input pInputText inputId="gender" formControlName="gender" maxlength="20" class="w-full" [class.ng-invalid]="hasError('gender')" [class.ng-dirty]="hasError('gender')" (blur)="f['gender'].markAsTouched()" />
      <label for="gender">Gender</label>
    </p-floatlabel>
    <div *ngIf="hasError('gender')" class="invalid">{{ getErrorMessage('gender') }}</div>
  </div>

  <div>
    <p-floatlabel variant="in">
      <input pInputText inputId="nationalId" formControlName="nationalId" maxlength="50" class="w-full" [class.ng-invalid]="hasError('nationalId')" [class.ng-dirty]="hasError('nationalId')" (blur)="f['nationalId'].markAsTouched()" />
      <label for="nationalId">National ID</label>
    </p-floatlabel>
    <div *ngIf="hasError('nationalId')" class="invalid">{{ getErrorMessage('nationalId') }}</div>
  </div>

  <div>
    <p-floatlabel variant="in">
      <input pInputText inputId="fatherName" formControlName="fatherName" maxlength="200" class="w-full" [class.ng-invalid]="hasError('fatherName')" [class.ng-dirty]="hasError('fatherName')" (blur)="f['fatherName'].markAsTouched()" />
      <label for="fatherName">Father's Name</label>
    </p-floatlabel>
    <div *ngIf="hasError('fatherName')" class="invalid">{{ getErrorMessage('fatherName') }}</div>
  </div>

  <div>
    <p-floatlabel variant="in">
      <input pInputText inputId="motherName" formControlName="motherName" maxlength="200" class="w-full" [class.ng-invalid]="hasError('motherName')" [class.ng-dirty]="hasError('motherName')" (blur)="f['motherName'].markAsTouched()" />
      <label for="motherName">Mother's Name</label>
    </p-floatlabel>
    <div *ngIf="hasError('motherName')" class="invalid">{{ getErrorMessage('motherName') }}</div>
  </div>

  <div>
    <p-floatlabel variant="in">
      <input pInputText inputId="maritalStatus" formControlName="maritalStatus" maxlength="20" class="w-full" [class.ng-invalid]="hasError('maritalStatus')" [class.ng-dirty]="hasError('maritalStatus')" (blur)="f['maritalStatus'].markAsTouched()" />
      <label for="maritalStatus">Marital Status</label>
    </p-floatlabel>
    <div *ngIf="hasError('maritalStatus')" class="invalid">{{ getErrorMessage('maritalStatus') }}</div>
  </div>

  <div>
    <p-floatlabel variant="in">
      <input pInputText inputId="religion" formControlName="religion" maxlength="50" class="w-full" [class.ng-invalid]="hasError('religion')" [class.ng-dirty]="hasError('religion')" (blur)="f['religion'].markAsTouched()" />
      <label for="religion">Religion</label>
    </p-floatlabel>
    <div *ngIf="hasError('religion')" class="invalid">{{ getErrorMessage('religion') }}</div>
  </div>

  <div>
    <p-floatlabel variant="in">
      <input pInputText inputId="nationality" formControlName="nationality" maxlength="100" class="w-full" [class.ng-invalid]="hasError('nationality')" [class.ng-dirty]="hasError('nationality')" (blur)="f['nationality'].markAsTouched()" />
      <label for="nationality">Nationality</label>
    </p-floatlabel>
    <div *ngIf="hasError('nationality')" class="invalid">{{ getErrorMessage('nationality') }}</div>
  </div>

  <div *ngIf="saveError" class="invalid sm:col-span-2">{{ saveError }}</div>
  <div *ngIf="saveSuccess" class="success-message sm:col-span-2">Saved.</div>

  <div class="sm:col-span-2">
    <button pButton type="submit" [disabled]="saving">
      <i class="fas fa-save"></i>
      <span>{{ saving ? 'Saving...' : 'Save' }}</span>
    </button>
  </div>
</form>
