<div class="form-container">
  <div class="media-block">
    <h4>Profile Photo</h4>

    <div class="media-preview-wrap media-preview-wrap--photo" *ngIf="getPhotoUrl()">
      <img [src]="getPhotoUrl()" class="media-preview media-preview--photo" alt="Profile photo" />
      <button
        type="button"
        class="media-remove-btn"
        pTooltip="Remove photo"
        tooltipPosition="top"
        [disabled]="uploadingPhoto"
        (click)="deletePhoto()"
      >
        <i class="fas fa-times"></i>
      </button>
    </div>

    <label for="profilePhotoFile" class="upload-dropzone" [class.disabled]="uploadingPhoto">
      <i class="fas" [class.fa-spinner]="uploadingPhoto" [class.fa-spin]="uploadingPhoto" [class.fa-cloud-upload-alt]="!uploadingPhoto"></i>
      <span class="upload-dropzone-text">
        <strong>{{ uploadingPhoto ? 'Uploading...' : (selectedPhotoName || (getPhotoUrl() ? 'Replace photo' : 'Click to upload a photo')) }}</strong>
        <small>JPG or PNG, up to 2MB</small>
      </span>
    </label>
    <input id="profilePhotoFile" type="file" (change)="onPhotoSelected($event)" accept=".jpg,.jpeg,.png" [disabled]="uploadingPhoto" class="sr-only file-picker-input" />

    <div *ngIf="photoError" class="invalid mt-2">{{ photoError }}</div>
  </div>

  <div class="media-block">
    <h4>Signature</h4>

    <div class="media-preview-wrap media-preview-wrap--signature" *ngIf="getSignatureUrl()">
      <img [src]="getSignatureUrl()" class="media-preview media-preview--signature" alt="Signature" />
      <button
        type="button"
        class="media-remove-btn"
        pTooltip="Remove signature"
        tooltipPosition="top"
        [disabled]="uploadingSignature"
        (click)="deleteSignature()"
      >
        <i class="fas fa-times"></i>
      </button>
    </div>

    <label for="signatureFile" class="upload-dropzone" [class.disabled]="uploadingSignature">
      <i class="fas" [class.fa-spinner]="uploadingSignature" [class.fa-spin]="uploadingSignature" [class.fa-cloud-upload-alt]="!uploadingSignature"></i>
      <span class="upload-dropzone-text">
        <strong>{{ uploadingSignature ? 'Uploading...' : (selectedSignatureName || (getSignatureUrl() ? 'Replace signature' : 'Click to upload a signature')) }}</strong>
        <small>JPG or PNG, up to 2MB</small>
      </span>
    </label>
    <input id="signatureFile" type="file" (change)="onSignatureSelected($event)" accept=".jpg,.jpeg,.png" [disabled]="uploadingSignature" class="sr-only file-picker-input" />

    <div *ngIf="signatureError" class="invalid mt-2">{{ signatureError }}</div>
  </div>
</div>
